

.footerContent {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 5px 10px 1px 1px;
  

    
  }
  
  .footer-logo-container {
    align-items: center;
    display: flex;
    margin-right: 2px;
    
  }
  
  .footerlogo {
    
    max-width: 150px; 
    height: auto;
  }
  
  .copyright {
    
    display: flex;
    font-family: Neo Sans W23;
    font-size: .5rem; 
    font-weight:lighter;
  
    margin-left: 5px;
    text-align: center;
    align-items:center;
    color: #04397e;
  }
  