.legend {
  position: relative;
  z-index: 999;
  right: 5px;
  bottom: 5px;
  padding: 10px 10px;
  
  font-weight: bolder;
  

  font-size: .6rem;
  letter-spacing: 2px;
  background: rgba(169, 177, 212, 0);
  border-radius: 5px;
  width: 100%;
}
.legend > div {
  color:rgb(107, 106, 113);
  position: relative;
  display: flex;
  height: 20px;
  padding: 0 10px;
}
.legend > div::before {
  content: "";
  
  background-color: var(--color);
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  
}
